/* ––– Page set up ––– */
* {
    /* margin: 0;
  padding: 0; */
    box-sizing: border-box;
}

body *::selection {
    color: #FFF;
    background: #000dff;
}

body *::-moz-selection {
    color: #FFF;
    background: #000dff;
}

body {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('assets/paper.png') no-repeat center center fixed; */
    background-size: cover;
    opacity: 0.25;
    z-index: -1;
}

#contentContainer {
    transition: opacity 1s ease-in-out;
    width: 750px;
}

/* ––– Good evening ––– */
#fade-container {
    z-index: 2147483647;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

#fade-container img {
    max-width: 100%;
    max-height: 100%;
}

#fade-container.fade-in {
    opacity: 1;
}

#fade-container.fade-out {
    opacity: 0;
}

/* ––– Watermark ––– */
.copy-txt-container {
    position: fixed;
    text-align: center;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 99;
}

.copy-txt {
    font-family: 'Lato', sans-serif;
    font-size: 350px;
    transform: rotate(-35deg);
    font-weight: 900;
    opacity: 0.3;
    color: #ff1100;

}

/* ––– Text content ––– */
p {
    font-size: 16px;
    padding: 0px 0px 5px 0px;
}

h1 {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    line-height: auto;
}

h2 {
    font-size: 65px;
    font-weight: 100;
    line-height: 30px;
}

h3 {
    font-size: 37.5px;
    font-weight: 100;
    line-height: auto;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary {
    list-style-type: none;
}

details summary {
    margin-top: -30px;
    padding-bottom: 15px;
    font-size: 16px;
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;
}

details summary:hover {
    cursor: pointer;
}

@-moz-document url-prefix() {
    details summary {
        list-style-type: none;
    }
}

@supports (-ms-ime-align:auto) {
    details summary {
        list-style-type: none;
    }
}

/* ––– Homepage text menu ––– */
.big-txt-overlay {
    position: fixed;
    text-align: center;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 999;
}

a.link,
a.link:link {
    text-decoration: none;
    color: #0000EE;
}

a.link:visited,
a.link:hover,
a.link:active {
    text-decoration: underline;
    color: #0000EE;
}

/* ––– Nav button menu ––– */
.home-link,
.home-link:active,
.home-link:hover,
.home-link:visited {
    color: #000;
    text-decoration: none;
}

.hidden {
    display: none;
  }

.menu-content {
    list-style-type: none;
    margin: -35px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu-item {
    margin: 0;
}

.tablinks {
    font-size: 16px;
    margin: 8px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f5f5f5;
}

.tablinks:hover,
.tablinks:active {
    border: 1px solid #5A5A5A;
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
}

.menu-dropdown {
	font-size: 16px;
    margin: 8px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 12px;
    cursor: pointer;
    background-color: #f5f5f5;
}

/* ––– Dark Mode ––– */
:root {
    --cursorXPos: 50vw;
    --cursorYPos: 50vh;
  }
  
  .flashlight-on {
    cursor: none;
  }
  
  .flashlight-on:before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background: radial-gradient(
      circle 10rem at var(--cursorXPos) var(--cursorYPos),
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    z-index: 11;
  }

/* ––– Image styles ––– */
.full-img {
    width: 100%;
}

.half-img {
    width: 50%;
}

.home-txt {
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 750px;
    margin: 20px;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.caption {
    width: 100%;
    padding: 10px;
    color: #000;
    text-align: center;
    font-size: 14px;
}

table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
}

td {
    padding: 10px;
}

td {
    position: relative;
}

.medal-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
}


.MenuContainer {
    width: 750px;
    margin: 0;
    padding: 0;
}

.column {
    text-align: justify;
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.menuVanish {
    opacity: 0.7;
    transition: opacity 0.25s ease-out;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

/* Home page */
.menu-item {
      font-size: 16px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .item-name {
      flex: 1;
      font-weight: bold;
    }

    .dots {
      margin-left: 20px;
      display: inline-block;
      width: calc(100% - 100px);
    }

    .dots::after {
      content: "";
      display: inline-block;
      width: 100%;
      border-bottom: 2px dotted #000;
    }

    .price {
      margin-left: 20px;
    }

    .description {
      font-style: italic;
      margin-top: 5px;
      color: #000;
      font-size: 16px;
    }

    #menu-item-wrapper {
      padding-bottom: 30px;
    }

    .menu-type {
      font-weight: 800;
      font-style: italic;
    }